<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}Hands for you!{% endblock %}</title>

        {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% endblock %}
        
        
        
        <style>
          .form-horizontal{
            background-color: rgba(238,238,238,0.5);
          }   
        </style>

    </head>
    <body>
    <div class="background-color">
    <noscript>
        <style type="text/css">
            #user-bar-background, #navigation-bar-background, #body-background { display:none; }
        </style>
        <div class="noscriptmsg">
            You don't have javascript enabled.  Good luck with that!
        </div>
    </noscript>
    
    {% block navigation %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HandsForYou!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings">{{ user.firstname }}'s settings</a></li>
            <li><a href="/signout">Sign out</a></li>
          </ul>
          {% else %}
          <form class="navbar-form navbar-right">
            <a class="btn btn-success" href="/signin">Sign in/up</a>
            Or
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}
    </div>
    </body>
</html>