<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>{% block page_title %}Hands for you!{% endblock %}</title>
        {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" language="JavaScript" type="text/javascript" ></script>
        <link href="/static/base.css" rel="stylesheet" type="text/css">
        <script src="/static/base.js" language="JavaScript" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
    <noscript>
        <style type="text/css">
            #user-bar-background, #navigation-bar-background, #body-background { display:none; }
        </style>
        <div class="noscriptmsg">
            You don't have javascript enabled.  Good luck with that!
        </div>
    </noscript>
    
    {% block navigation %}
    {% endblock %}

    {% block body %}
    {% endblock %}
    </body>
</html>