<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}Hands for you!{% endblock %}</title>
        {% block head %}
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        {% endblock %}
    </head>
    <body>
    <noscript>
        <style type="text/css">
            #user-bar-background, #navigation-bar-background, #body-background { display:none; }
        </style>
        <div class="noscriptmsg">
            You don't have javascript enabled.  Good luck with that!
        </div>
    </noscript>
    
    {% block navigation %}
    <!-- Header -->
    <header id="header">

        <!-- Logo -->
            <h1 id="logo">Hands For You</h1>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#one">Create Service</a></li>
                    <li><a href="#two">Find Service</a></li>
                    <li><a href="#work">Me</a></li>
                    <li><a href="#contact">About</a></li>
                    <li><a href="/signout">Sign out</a></li>
                </ul>
            </nav>

    </header>
    {% endblock %}

    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">

    <!-- Icons -->
        <ul class="actions">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>

    <!-- Menu -->
        <ul class="menu">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

    </footer>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.poptrox.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>
    </body>
</html>