{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<!-- <script src="/assets/serviceAdd.min.js"></script> -->
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
    	<div class="col-md-5">

			<form class="add-service-form form-horizontal col-md-12" method="GET" action="" style="border: 1px solid rgb(200,200,200); border-radius: 5px; margin-top: 100px; padding-top: 40px; padding-bottom: 40px; box-shadow: 4px 4px 3px rgb(200,200,200);">
			    <h3 style="text-align: center; margin-top: 10px; margin-bottom: 20px;">Search A Service</h3>
			    
			    <div class="form-group">
			        <label class="control-label col-md-2">Keywords: </label>
			        <div class="col-md-10">
			            <input class="form-control" type="search" name="keywords" placeholder="Enter any keywords here" value="{{ keywords }}">
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="control-label col-md-2">Status: </label>
			        <div class="col-md-10">
			            <select class = "form-control" name = "status">
						  <option value="available" {% if status == 'available' %}selected{% endif %}>Available</option>
						  <option value="in progress" {% if status == 'in progress' %}selected{% endif %}>In progress</option>
						  <option value="cancelled" {% if status == 'cancelled' %}selected{% endif %}>Cancelled</option>
						  <option value="completed" {% if status == 'completed' %}selected{% endif %}>Completed</option>
						</select>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="control-label col-md-2">Price Min: </label>
			        <div class="col-md-10">
			            <input class="form-control" type="text" name="price_min" placeholder="USD" value="{{ price_min }}">
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="control-label col-md-2">Price Max: </label>
			        <div class="col-md-10">
			            <input class="form-control" type="text" name="price_max" placeholder="USD" value="{{ price_max }}">
			        </div>
			    </div>
			     <div class="form-group">
			        <label class="control-label col-md-2">Address: </label>
			        <div class="col-md-10">
			            <input class="form-control" type="text" name="address" placeholder="Optional" value="{{ address }}">
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="control-label col-md-2">Distance: </label>
			        <div class="col-md-10">
			            <input class="form-control" type="text" name="distance" placeholder="How far from the address above? (meters)" value="{{ distance }}">
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="col-md-12">
			            <input class="btn btn-primary pull-right" type="submit" value="Search">
			        </div>
			    </div>
			</form>

		</div>

		<div class="col-md-7">
			<table class='table' style = 'margin-top: 100px'>
			<thead >
				<th>Find {{ total_found }} result{% if total_found > 1 %}s{% endif %}</th>
			</thead>

			<tbody>
				{% for service in services %}
					<tr>	
					<td style="width:100px; height:100px;">
						<div class = 'search_entry'>
							<a href="{{ uri_for('service_detail', service_id = service.key.id()) }}">{{ service.title }}</a>
							<div>price: {{ service.price }}</div>
							<div>detail: {{ service.description }}</div>
						</div>
					</td>	
					</tr>	

				{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}