{% extends "template/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hands For You</h1>
    <p>Need help? Wish to help? Welcome to Hands For You! We help you offer or find any kind of service. You can easily post your own service or view other people service using our platform.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Create a service/request</h2>
      <p>Click here to create a service you can offer or a request to have a service. Give it a type, a location and a price. It will help other users easily find your service. </p>
      <p><a class="btn btn-default" href="{{ uri_for('add_service') }}" role="button">Create one &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Find a service/request</h2>
      <p>Click here to find a service. By telling us some information of what you need, we can easily find you a service! </p>
      <p><a class="btn btn-default" href="{{ uri_for('search_services') }}" role="button">Start search &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>My Profile</h2>
      <p>Click here to view and manage your profile information and review your offering and requesting history.</p>
      <p><a class="btn btn-default" href="{{ uri_for('my_services') }}" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>Cloud Computing Final Project, 2015/12</p>
</div> <!-- /container -->
{% endblock %}
