{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<style>
.center-tags{
    text-align:center;
}
.background-color{
    padding: 50px;
}
.panel{
    margin-top: 50px;
}
.modify:before{
    content: "|";
    margin-right: 2px;
    color: #337ab7;
}
td{
    max-width:200px; 
    overflow-wrap: break-word;
}
.panel-title{
    font-size: 22px;
}
h1 i{
    margin-right: 5px;
    font-size: 19px;
}
#message-body textarea{
  width: 100%;
  border: none;
}
.messages{
  padding: 15px;
  border-top: 1px solid #ccc;
}
.messages > div{
  margin-bottom: 10px;
}
.accepted, .finished{
     color: green;
}
.declined{
    color: red;
}
.confirmed{
    color: black;
}
.pending{
    color: blue;
}
.message-text{
    font-style: italic;
    white-space: pre-wrap;
}
h4.proposal{
    margin-left: 8px;
    text-decoration: underline;
}
.form-control{
	display: inline-block;
	width: inherit;
}
</style>

<script type="text/javascript">
$(function(){
	var address = 'ws://104.196.35.247/' + {{ proposal.key.id() }};
	var ws = new WebSocket(address);
	var clicked = false;
	ws.onopen = function() {
        console.log('Connected');
        $("#send-message-button").click(function(){
        	var message = $("#newmessage-body").val();
		    ws.send(message);
		  	clicked = true;
			prependMessage(message);

			$.ajax({
	            type: 'POST',
	            data: { message: message },
	            url: "{{ uri_for('send_message', proposal_id=proposal.key.id()) }}",
	            success: function(res) {
	                if (res.error) {
	                    console.log(res.message);
	                }
	            }
        	});
			$("#newmessage-body").val('');
		});
    };
	
	ws.onmessage = function(evt) {
		var message = evt.data;
		console.log('Received');
		prependMessage(message);
	};

	function prependMessage(msg) {
		var cell1 = "<div><div class='from'>from<b>";
		if (clicked) 
			cell1 += "You"
		else 
			cell1 += $("#opposite-firstname").val();
		cell1 += "</b> to <b>";
		if (!clicked) 
			cell1 += "You"
		else 
			cell1 += $("#opposite-firstname").val();
		cell1 += "</b></div>";
		var cell2 = "<div class='message-text' id='message-content'>" + msg + "</div>";
		var cell3 = "<i>@" + Date(Date.now()).toString() + "</i>";
		var cell = cell1 + cell2 + cell3;
		console.log(cell);
		$('#message-list').prepend(cell);
		var number = parseInt($("#message-count").text());
		$("#message-count").text(number + 1); 
		clicked = false;
	}
})	
</script>


{% endblock %}

{% block body %}
<input type="hidden" id="opposite-firstname" value="{{ opposite.firstname }}">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">{{ service.title }} </h1>
  </div>
  <div class="panel-body">
    <p>Description: {{ service.description }}</p>
  </div>

  <h4 class="proposal"> Proposal Details </h4>

  <!-- Table -->
 <form class="modify-proposal-form"  method="POST" action="" style="padding: 10px;">
    <table class="table">
      <tr><td><b>Price:</b></td><td>$ <input class="form-control" type="text" name="price" value="{{ proposal.price }}"></td></tr>
      <tr><td><b>Quantity:</b></td><td><input class="form-control" type="text" name="times" value="{{ proposal.times }}"></td></tr>
      <tr><td><b>Type:</b></td><td><input class="form-control" type="text" name="kind" value="{{ proposal.kind }}" readonly></td></tr>
      <tr><td><b>Progress:</b></td><td><input class="form-control" style="margin-right: 5px;" type="text" name="progress" value="{{proposal.progress}} / {{ proposal.times }}" readonly> <a class="progress-btn" href="">

        {% if proposal.requestor == user.key and (proposal.status == "accepted" or  proposal.status == "finished") %}
        Confirm
        {%endif %}
        {% if proposal.decider == user.key and proposal.status == "accepted"%}
        Make Progress
        {%endif %}
      </a></td></tr>
            <tr><td><b>Status:</b></td><td>Currently {{ proposal.status }},
          {% if proposal.decider == user.key %}
            {% if proposal.status == "pending" %}<a href="" class="accept-btn">Accept</a> or <a href="" class="decline-btn">Decline</a>
            {% endif %}
          {% endif %}
      </td></tr>
    </table>

    <input class="btn btn-primary" type="submit" value="Save">
  </form>

</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Messages</h1>
  </div>
  <div class="panel-body">
    You have <span id="message-count">{{ messages|count }}</span> message{% if messages|count > 1 %}s{% endif %}.
  </div>

  <div class="messages" id="message-list">

    {% for message in messages %}
        <div>
            <div class="from">from 
            <b>{% if message.sender == user.key %} You {% else %} {{ opposite.firstname }} {% endif %}</b> to
            <b>{% if message.receiver == user.key %} You {% else %} {{ opposite.firstname }} {% endif %}</b>
            </div>
            <div class="message-text" id="message-content">{{ message.text }}</div>
            <i>@{{ message.created }}</i>
        </div>
	  {% endfor %}
	</div>

</div>

<div class="panel panel-default">
    <div class="panel-heading" id="message-title">
    <h1 class="panel-title">Send Messages</h1>
    </div>
    <table class="table messages">
        <tr>
            <td class="center-tags" id="message-body"><textarea id="newmessage-body" rows="5" cols="100" placeholder="Message here"></textarea></td>
        </tr>
        <tr>
            <td class="center-tags"><button id="send-message-button" class="btn btn-success" type="button">Send</button></td>
            
        </tr>   
    </table>
</div>

<script>
$('.modify-proposal-form').submit(function(evt) {
        evt.preventDefault();
        $.ajax({
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'JSON',
            url: '{{ uri_for("modify_proposal", proposal_id=proposal.key.id()) }}',
            success: function(res) {
                if (res.error) {
                    console.log(res.message);
                } else {
                    window.location.replace('/my/proposal');
                }
            }
        });
    });
$('.accept-btn').click(function(evt){
  evt.preventDefault();

   $.ajax({
            type: 'POST',
            data: null,
            url: '/proposal/{{ proposal.key.id() }}/accept',
            success: function(res) {
                if (res.error) {
                    console.log(res.message);
                } else {
                    window.location.replace('/proposal/{{ proposal.key.id() }}');
                }
            }
  });

});
$('.decline-btn').click(function(evt){
   evt.preventDefault();

   $.ajax({
            type: 'POST',
            data: null,
            url: '/proposal/{{ proposal.key.id() }}/decline',
            success: function(res) {
                if (res.error) {
                    console.log(res.message);
                } else {
                    window.location.reload();
                }
            }
  }); 

});
$('.progress-btn').click(function(evt){
  evt.preventDefault();

  {% if proposal.requestor == user.key and (proposal.status == "accepted" or  proposal.status == "finished") %}
      progress('{{ uri_for("confirm_progress", proposal_id=proposal.key.id()) }}');
  {% endif %}

  {% if proposal.decider == user.key and proposal.status == "accepted" %}
    progress("/proposal/{{ proposal.key.id()}}/progress");
  {% endif %}
});

function progress(url){
  $.ajax({
          type: 'POST',
          data: null,
          url: url,
          success: function(res) {
              if (res.error) {
                  console.log(res.message);
              } else {
                  window.location.reload();
              }
          }
  }); 
}

</script>
{% endblock %}