{% extends "template/base.html" %}
{% block head %}
{{ super() }}

<style>
.background-color{
	padding: 50px;
}
.panel{
	margin-top: 50px;
}
.modify:before{
	content: "|";
	margin-right: 2px;
	color: #337ab7;
}
td{
 	max-width:200px; 
 	overflow-wrap: break-word;
}
.panel-title{
	font-size: 22px;
}
h1 i{
	margin-right: 5px;
	font-size: 19px;
}
.accepted, .finished{
	 color: green;
}
.declined{
	color: red;
}
.confirmed{
	color: black;
}
.pending{
	color: blue;
}
</style>


{% endblock %}
{% block body %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title dropdown">
        <button class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: white; margin: 0; padding: 0;"><i class="glyphicon glyphicon-list"></i></button>
        <span>My Proposals</span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{{ uri_for('my_services') }}">My services</a></li>
            <li><a href="{{ uri_for('my_proposal') }}">My proposals</a></li>
            <li><a href="{{ uri_for('my_receives') }}">Received proposals</a></li>
        </ul>
    </h1>
  </div>
  <div class="panel-body">
    <p>Here is a brief listing of your proposals</p>
  </div>

  <!-- Table -->
<table class="table">
<tr>
	<td><b>#</b></td>
	<td><b>Title</b></td>
	<td><b>Service Creator</b></td>
	<td><b>Price ($USD)</b></td>
	<td><b>Status</b></td>
	<td><b>Options</b></td>
</tr>
{% for proposal in proposals %}
<tr>
		<td> <b>{{ loop.index }} </b></td>
        <td>{{ proposal.service.get().title }}</td>
        <td> {{proposal.decider.get().firstname}} {{proposal.decider.get().lastname}} </td>
       	<td>{{ proposal.price }} </td>	
       	<td class="{{proposal.status}}">{{ proposal.status }} </td>	
       	<td><a href="{{ uri_for('proposal', proposal_id=proposal.key.id()) }}">Full Conversation</a>
       	</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}