{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<!-- <script src="/assets/serviceAdd.min.js"></script> -->
<style>
      html, body {
        height: 100%;
        margin-top:20px;
        margin-left: 50px; 
        padding: 0;
      }
      #map {
        width: 500px;
        height: 400px;
        margin-top: 50px;
      }
    </style>
{% endblock %}

{% block body %}

<div class="col-md-5">
<div class="container">

<h2 style="margin-top: 100px">{{ service.title }}</h2>
<h4>Price: {{ service.price }}</h4>
<h4>Available time: {{ service.available_time }}</h4>
<h4>Quantity: {% if service.times != 0%}{{ service.times }}{% else %}Unlimited{% endif %}</h4>
{% if service.address %}
<h4>Address: {{ service.address }}</h4>
{% endif %}
<h4>Type: {% if service.kind == 'offer' %}Service{% else %}Request{% endif %}</h4>
<h4>Tags: {% for service_tag in service.service_tags %} {{ service_tag }} {% endfor %}</h4>
<h4>Status: {{ service.status }}</h4>
<h4>Description: </h4>
<p>{{ service.description }}</p>


{% if service.status == "available" %}
    {% if user %}
    	{% if user.key.id() == creator.key.id() %}
    	<a href="{{ uri_for('my_services') }}">Make Change</a>
    	{% else %}
    	<a href="{{ uri_for('propose', service_id=service.key.id()) }}">Propose</a>
    	{% endif %}
    {% endif %}
{% endif %}

</div>
</div>

<div class="col-md-7">
<div id="map"></div>
    <script>
    function initMap() {
      var lat = {{ service.location.lat }};
      var lon = {{ service.location.lon }};
      var home = new google.maps.LatLng(lat, lon);
      var map = new google.maps.Map(document.getElementById('map'), {
        center: home,
        zoom: 12
      });
      var marker = new google.maps.Marker({
    	position: home,
    	map: map,
    	title: 'Service Marker'
  		});
      marker.setMap(map);
    }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXLFKSBVsRb72s0vyjo9p6zWpNpBGU8Bs&callback=initMap"
        async defer></script>
</div>

{% endblock %}