{% extends "template/base.html" %}
{% block head %}
{{ super() }}

<style>
.panel{
	margin-top: 50px;
}
.modify:before{
	content: "|";
	margin-right: 2px;
	color: #337ab7;
}
td{
 	max-width:200px; 
 	overflow-wrap: break-word;
}
.panel-title{
	font-size: 22px;
}
h1 i{
	margin-right: 5px;
	font-size: 19px;
}
.completed{
	 color: green;
}
.cancelled{
	color: red;
}
.available{
	color: black;
}
.handling{
	color: blue;
}
</style>


{% endblock %}
{% block body %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1 class="panel-title"><i class="glyphicon glyphicon-list"></i>My Services</h1></div>
  <div class="panel-body">
    <p>Here is a brief listing of your services</p>
  </div>

  <!-- Table -->
<table class="table">
<tr>
	<td><b>#</b></td>
	<td><b>Title</b></td>
	<td><b>Kind</b></td>
	<td><b>Description</b></td>
	<td><b>Status</b></td>
	<td><b>Options</b></td>
</tr>
{% for service in services %}
<tr>
		<td> <b>{{ loop.index }} </b></td>
        <td>{{ service.title }}</td>
        <td> {% if service.kind == "offer" %}Service
        	{% else %} Request
        	{% endif %}
        </td>
       	<td>{{ service.description }} </td>	
       	<td class="{{service.status}}">{{ service.status }} </td>	
       	<td><a href="{{ uri_for('service_detail', service_id=service.key.id()) }}" class="service">More</a>
       		<a class="modify" href="{{ uri_for('modify_service', service_id=service.key.id()) }}" class="service">Modify</a>
       	</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}