{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<!--<script src="/assets/serviceAdd.min.js"></script>-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/static/serviceAdd.js"></script>
<style>
    .ui-menu{
        color: grey;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }   

</style>

{% endblock %}

{% block body %}
<div class="col-md-2"></div>
<form class="add-service-form form-horizontal col-md-8" method="POST" action="" style="border: 1px solid rgb(200,200,200); border-radius: 5px; margin-top: 100px; padding-top: 40px; padding-bottom: 40px; box-shadow: 4px 4px 3px rgb(200,200,200);">
    <h3 style="text-align: center; margin-top: 10px; margin-bottom: 20px;">New service/request!</h3>
    <p style="text-align: center;">Create a new service or request here. Give it a type, a location and a price. It will help other users easily find your service.</p>
    <div class="form-group">
        <label class="control-label col-md-2">Title: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="title" placeholder="What should we call your service?">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Type: </label>
        <div class="col-md-10">
                <select name="kind" class="form-control">
                    <option value="offer">Service</option>
                    <option value="request">Request</option>
                </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Address: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="address" placeholder="If the service is related to its location, otherwise, leave it.">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Description: </label>
        <div class="col-md-10">
            <textarea class="form-control" type="text" name="description" placeholder="What's it about?" style="min-height: 100px;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Suggested price: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="price" placeholder="Leave it if it's free of charge. (USD)">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Available time: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="available_time" placeholder="Monday to Sunday, from morning to evening.">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Quantity: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="times" placeholder="How many times would you like to offer this service? Leave it if no specific limitation.">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Service tag(s): </label>
        <div class="col-md-10">
                <input id="service_tags" class="form-control" type="text" name="service_tags" placeholder="Which industry?">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input class="btn btn-primary pull-right" type="submit" value="Add">
        </div>
    </div>
</form>
{% endblock %}