{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/static/serviceModify.js"></script>

{% endblock %}
{% block body %}
<div class="col-md-2"></div>
<form class="modify-service-form form-horizontal col-md-8" method="POST" action="" style="border: 1px solid rgb(200,200,200); border-radius: 5px; margin-top: 100px; padding-top: 40px; padding-bottom: 40px; box-shadow: 4px 4px 3px rgb(200,200,200);">
    <h3 style="text-align: center; margin-top: 10px; margin-bottom: 20px;">Modify service/request!</h3>
    <p style="text-align: center;">Here you may modify your service/request. Don't forget to save!</p>
    <div class="form-group">
        <label class="control-label col-md-2">Title(*): </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="title" value="{{ service.title }}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Type(*): </label>
        <div class="col-md-10">
                <select name="kind" class="form-control">
                    <option {% if service.kind == "offer" %} 
                    	selected="selected" {% endif %}
                    value="offer">Service</option>
                    <option {% if service.kind == "request" %} 
                    	selected="selected" {% endif %}
                    value="request">Request</option>
                </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Address: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="address" value="{{ service.address }}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Description(*): </label>
        <div class="col-md-10">
            <textarea class="form-control" type="text" name="description" style="min-height: 100px;">{{ service.description }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Suggested price: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="price" value="{{ service.price }}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Available time(*): </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="available_time" value="{{ service.available_time }}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Quantity: </label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="times" value="{{ service.times }}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Service tag(s)(*): </label>
        <div class="col-md-10">
                <input id="service_tags" class="form-control ui-autocomplete-input" type="text" name="service_tags" 
                value="{{ ','.join(service.service_tags) }}" autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <!-- <input class="btn btn-warning pull-right" id="cancel" type="button" value="Cancel"> -->
            <input class="btn btn-primary pull-right" style="margin-right:10px"type="submit" value="Save">
            <!-- <a id="cancel" href="#" class="btn btn-primary pull-right" type="submit" style="margin-right: 5px;" method="POST">Cancel</a> -->
        </div>
    </div>
</form>

{% endblock %}