{% extends "template/base.html" %}
{% block head %}
{{ super() }}

<style>
.background-color{
	padding: 50px;
}
.panel{
	margin-top: 50px;
}
/*.detail:after{
	content: "|";
	margin-left: 5px;
	color: #337ab7;
}*/
td{
 	max-width:200px; 
 	overflow-wrap: break-word;
}
.panel-title{
	font-size: 22px;
}
h1 i{
	margin-right: 5px;
	font-size: 19px;
}
.completed{
	 color: green;
}
.cancelled{
	color: red;
}
.available{
	color: black;
}
.handling{
	color: blue;
}
</style>

<script>
$(document).ready(function(){
	$(".cancel").click(function(evt){
		var service_id = $(this).attr("num")
		evt.preventDefault();
		var r = confirm("Are you sure you would like to cancel this service?");
		if (r == true){
			$.post("/service/" + service_id+ "/cancel", function(resp){
				if(resp.error)
					console.log(resp.message);
				else
					window.location.href="/my/services";
			});
		}
	});
});				
</script>

{% endblock %}
{% block body %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title dropdown">
        <button class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: white; margin: 0; padding: 0;"><i class="glyphicon glyphicon-list"></i></button>
        <span>My Services</span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{{ uri_for('my_services') }}">My services</a></li>
            <li><a href="{{ uri_for('my_proposal') }}">My proposals</a></li>
            <li><a href="{{ uri_for('my_receives') }}">Received proposals</a></li>
        </ul>
    </h1>
  </div>
  <div class="panel-body">
    <p>Here is a brief listing of your services</p>
  </div>

  <!-- Table -->
<table class="table">
<tr>
	<td><b>#</b></td>
	<td><b>Title</b></td>
	<td><b>Type</b></td>
	<td><b>Description</b></td>
	<td><b>Status</b></td>
	<td><b>Options</b></td>
</tr>
{% for service in services %}
<tr>
		<td> <b>{{ loop.index }} </b></td>
        <td>{{ service.title }}</td>
        <td> {% if service.kind == "offer" %}Service
        	{% else %} Request
        	{% endif %}
        </td>
       	<td>{{ service.description }} </td>	
       	<td class="{{service.status}}">{{ service.status }} </td>	
       	<td><!-- <a href="{{ uri_for('service_detail', service_id=service.key.id()) }}" class="service">More</a> -->
       		<a class="btn btn-success detail " href="{{ uri_for('service_detail', service_id = service.key.id()) }}">View Details</a>
       		{% if service.status == "available" %}

       		<a class="btn btn-primary" href="{{ uri_for('modify_service', service_id=service.key.id()) }}" class="service">Modify</a>
       		
       		<a num="{{ service.key.id() }}" class="btn btn-danger cancel" type="submit" style="margin-right: 5px;" method="POST">Cancel Service</a>

       		{% endif %}

       	</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}