{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<!-- <link href="/static/signin.css" rel="stylesheet" type="text/css"> -->
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<script src="/static/signin.js"></script>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '441962862657459',
      xfbml      : true,
      version    : 'v2.5'
    });
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block body %}
<div class="col-md-1">
</div>

<div style="border: 1px solid rgb(200,200,200); border-radius: 5px; margin-top: 100px; padding-top: 40px; padding-bottom: 40px;" class="col-md-10">
  <div class="container col-md-6" style="border-right: 1px solid rgb(200,200,200);">
    <form method="POST" action="/signup" class="form-horizontal">
        <h3 style="margin-bottom: 20px; margin-top: 10px;">Sign up with email</h3>
        <div class="form-group">
            <label class="control-label col-md-2">Firstname: </label>
            <div class="col-md-4">
              <input type="text" name="firstname" class="form-control">
            </div>
            <label class="control-label col-md-2">Lastname: </label>
            <div class="col-md-4">
              <input type="text" name="lastname" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email: </label>
            <div class="col-md-10">
              <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password: </label>
            <div class="col-md-10">
              <input type="password" name="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Confirm password: </label>
            <div class="col-md-10">
              <input type="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Gender: </label>
          <div class="col-md-2 radio">
            <label>
              <input type="radio" name="gender" value="Male" checked>
              Male
            </label>
          </div>
          <div class="col-md-2 radio">
            <label>
              <input type="radio" name="gender" value="Female">
              Female
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Phone number: </label>
          <div class="col-md-10">
            <input type="text" name="phone" class="form-control">
          </div>
        </div>
        <div class="">
            <div class="col-md-12">
              <input type="submit" value="Sign up" class="pull-right btn btn-primary">
            </div>
        </div>
    </form>
  </div>

  <div class="container col-md-6">
    <form method="POST" action="/signin" class="form-horizontal">
        <h3 style="margin-bottom: 20px; margin-top: 10px;">Sign in</h3>
        <div class="form-group">
          <label class="control-label col-md-2">Email: </label>
          <div class="col-md-10">
            <input type="text" name="email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Password: </label>
          <div class="col-md-10">
            <input type="password" name="password" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="submit" value="Sign in" class="pull-right btn btn-primary">
          </div>
        </div>
    </form>
    <div id="google-login" class="col-md-12" style="height: 50px; background: url('/static/images/google.png') no-repeat center center; background-size: contain; cursor: pointer; margin-top: 20px;"></div>
    <div id="facebook-login" class="col-md-12" style="height: 50px; background: url('/static/images/facebook.png') no-repeat center center; background-size: contain; cursor: pointer; margin-top: 20px;"></div>
  </div>
</div>
{% endblock %}